{% extends "base.html" %}
{% block title %}Index{% endblock %}
{% block value %}
  <h1>Welcome</h1>
  <p>
    Application employees are present to facilitate you in managing employee data.
    With this application you can manage employee data (<i>Create, New, Update, Delete</i>)
    Example : employee data, report, etc.
  </p>
  <p>
    Please select menus at the left side.
  </p>
  <p>
    If there are suggestions and criticisms regarding this application, please send your comments and suggestions via e-mail <a href="#">sodikinsadani@gmail.com</a>.
  </p>
{% endblock %}
