companymanagement/settings.py
companymanagement/settings.pyc
note/note.txt
personalia/migrations/0001_initial.py
personalia/migrations/0001_initial.pyc
note/note.txt
note/note.txt
personalia/migrations/0002_auto_20170412_2103.py
personalia/migrations/0002_auto_20170412_2103.pyc
personalia/migrations/0003_action_action_header.py
personalia/migrations/0003_action_action_header.pyc
personalia/migrations/0004_action_is_direct.py
personalia/migrations/0004_action_is_direct.pyc
personalia/migrations/0005_menu_is_act_view.py
personalia/migrations/0005_menu_is_act_view.pyc
personalia/migrations/0006_auto_20170415_1135.py
personalia/migrations/0006_auto_20170415_1135.pyc
personalia/migrations/0007_auto_20170425_1143.py
personalia/migrations/0007_auto_20170425_1143.pyc
personalia/migrations/0008_auto_20170425_1158.py
personalia/migrations/0008_auto_20170425_1158.pyc
personalia/migrations/0009_auto_20170425_1221.py
personalia/migrations/0009_auto_20170425_1221.pyc
